
body{
	font-family: Montserrat;
	margin: 0;
    padding: 0;
}

.blackout {
	background-color: black;
	color: white;
  }

  .blackout, .blackout * {
    filter: brightness(0) grayscale(1);
}

.blackout-all img {
    filter: brightness(0.5) grayscale(0);
}
#noircir {
	filter: none;
  }

	#title {
		background-color: #F7F09B;
		color: #971549;
        padding-bottom: 10%;
	}

	#title a {
		background-color: #F7F09B;
		color: #971549;
	}

	.container-fluid{
		padding: 3% 10%;
        
	}

	h1 {
		font-family: "Montserrat";
		font-weight: 900;
		font-size: 3rem;
		line-height: 1.5;
		text-align: left;
		
	}

	.navbar {
		padding: 0 0 4.5rem;
	}

	.navbar-brand{
		font-family: Ubuntu;
		font-size: 2.5rem;
		font-weight: bold;
	}

	.nav-item {
		padding: 0 18px;
	}

	.nav-link{
		font-size: 1.2rem;
		font-family: Montserrat;
	}

	.download-button{
		margin: 5% 3% 5% 0%;
		color: #971549;
	}
	.btn-primary {
		background-color: #007bff;
		border-color: #007bff;
	  }

	

	
	.title-image{
		width : 60%;
		transform: rotate(-20deg);
        left: 1%;
	}

	.form-group{
		color: #FF5200;
	}

    #features{
        margin: 5%;
      }
      
      
      
      .card-title {
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 1.5rem;
      }
      
      .card-text{
        color: #470031;
      }
      
      .fas{
        color: #FF5200;
		
      }
      
      .fas:hover{
        color: #FF5200;
      }

      #footer {
        text-align: center;
        margin: 0 auto;
      }

